
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(2, 2, 120); /* url(../images/fondoMainMenu.webp) no-repeat center center */
    background-size: cover;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px); 
    z-index: -1;
}

.tittle {
    font-size: 50px;
    color: rgb(164, 164, 167);
    margin-bottom: 20px;
    text-align: center;
    z-index: 1;
    font-family: 'Times New Roman', Times, serif;
}
.option{
    text-align: center;
    color: rgb(164, 164, 167);
    font-size: 20px;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 60vw; 
    height: 30vh; 
}

.menu {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: space-evenly;
    width: 100%;
}

.menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(164, 164, 167);
    font-size: 34px;
    padding: 15px;
    margin: 10px;
    background-color: transparent;
    border-radius: 5px;
    transition: background 0.3s ease;
    font-family: 'Times New Roman', Times, serif;
}

.menu a:hover {
    background-color: rgb(105, 103, 103);
    border-radius: 20px;
}

.menu a svg {
    margin-right: 10px; 
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.sidebar {
    background-color: #7752fe;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100vh;
    transition: all .3s ease;
    padding: 0.6rem 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar.active {
    width: 220px;
}


#btn {
    color: #fff;
    font-size: 24px;
    transition: all .5s ease;
    cursor: pointer;
}

.nav-links {
    position: relative;
    margin-top: 2em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-links li {
    position: relative;
    height: 50px;
    list-style-type: none;
    margin: 0.8em auto;
    width: 90%;
}

.nav-links a {
    border-radius: 15px;
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-links li span {
    opacity: 0;
}

.sidebar.active .nav-links li span {
    opacity: 1;
}

.nav-links li a:hover {
    background-color: white;
    color: black;
}

.nav-links li a i {
    min-width: 65px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}
.content {
    transition: margin-left 0.3s ease; /* Suaviza el movimiento */
    margin-left: 100px; /* Margen inicial, puede ajustarse según el ancho de la barra lateral */
}

.sidebar.active + .content {
    margin-left: 220px; /* Ajusta según el ancho de la barra lateral activa */
}
