* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--wg);
    background-size: cover;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px); 
    z-index: -1;
}

.tittle {
    font-size: 50px;
    color: var(--blk);
    margin-bottom: 20px;
    text-align: center;
    z-index: 1;
}
.home{
    text-align: left;
    color: var(--blk);
    font-size: 50px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.menu {
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center; 
    width: 100%;
    margin-top: 75px;
}

.menu a {
    display: grid;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--blk);
    font-size: 34px;
    padding: 15px;
    background-color: var(--gold);
    border-radius: 20px;
    margin: 50px ;
    margin-top: 98px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    width: 35%;
    height: 175px;
}

.menu a:hover {
    background-color: var(--do);
    transform: scale(1.1);
}

@media (max-width: 768px){
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: var(--wg);
        background-size: cover;
        position: relative;
    }
    
    body::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(8px); 
        z-index: -1;
    }
    
    .tittle {
        margin-top: 110px;
        width: 350px;
    }
    .home{
        text-align: left;
        color: var(--blk);
        font-size: 50px;
        margin-bottom: 20px;
        margin-left: 20px;
    }
    
    .menu {
        display: flex;
        flex-wrap: wrap; 
        align-items: center;
        justify-content: center; 
        width: 100%;
        margin-top: 75px;
    }
    
    .menu a {
        display: grid;
        text-align: center;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: var(--blk);
        font-size: 34px;
        padding: 15px;
        background-color: var(--gold);
        border-radius: 20px;
        margin: 50px ;
        margin-top: 50px;
        transition: transform 0.3s ease, background-color 0.3s ease;
        width: 75%;
        height: 130px;
    }
    
    .menu a:hover {
        background-color: var(--do);
        transform: scale(1.1);
    }


    .menu span{
        font-size: 24px;
    }
}