body {
    background: var(--whi); /* Por si se quiere usar despues... url(../images/fondoMainMenu.webp) */
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
  }
  
  /* .wrapper {
      transition: margin-left 0.5s ease, width 0.5s ease; 
      margin-left: calc(120px + 10px); 
      margin-right: 10px; 
      width: calc(100% - 160px); 
      height: 800px;
      background-color: var(--whi); 
      border: 3px solid #d3d3d3; 
      border-radius: 15px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
      padding: 20px;
      margin-top: 135px;
      position: relative;
      z-index: 2;
  } */
  
  .tittle {
    margin-bottom: 75px;
    }
  
  .home {
    text-align: center;
    color: var(--blk);
    font-size: 50px;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  
  .view-activity {
    border: 1px solid gray;
    width: 100%; /* Ajustado para que no sea tan ancho */
    max-width: 1500px;
    height: auto;
    max-height: 1080px;
    margin: 0 auto; /* Centra el contenedor */
    padding: 20px;
    background-color: rgba(
      255,
      255,
      255,
      0.8
    ); /* Fondo blanco semi-transparente */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  .search-container {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  #search-bar {
    width: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    transition: width 0.7s ease, padding 0.3s ease;
    color: #000;
    font-size: 16px;
    border-bottom: 2px solid #000;
    outline: none;
  }
  
  .icon-search {
    cursor: pointer;
    font-size: 20px;
    margin-left: 10px;
    color: #000;
  }
  
  /* Expande la barra de búsqueda cuando se pasa el cursor sobre el contenedor */
  .search-container:hover #search-bar {
    width: 200px;
    padding: 5px;
    background-color: transparent;
  }
  
  .table-container {
    max-height: 40vh; /* Ajusta esta altura según tus necesidades */
    overflow-y: auto; /* Scroll vertical en la tabla */
    margin-top: 20px;
    position: relative;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th,
  td {
    border: 1px solid var(--blk);
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: var(--gold);
    color: var(--blk);
  }
  
  thead {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
    z-index: 2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }

  .btn-edit, .btn-x, .btn-plus, .btn-check{
    flex: 0 1 auto;
    padding: 5px 10px;
    font-size: 12px;
    max-width: 100px;
    min-width: 70px;
    transition: transform 0.2s ease, background-color 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userOption {
  display: flex;
  justify-content: center; 
  margin-top: 30px;
  margin-bottom: 15px;
  gap: 20px; 
}

.userOption button {
  background-color: var(--gold);
  border: none;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;

}

.userOption button:hover {
  background-color: var(--do);
  transform: scale(1.1);
}

.userOption i{
  font-size: 24px;
  margin-left: 6px;
  color: var(--whi);
}

.btn-plus{
  background-color: rgb(13, 212, 13);
  color: var(--blk);
  font-size: 17px;
}
.btn-plus:hover{
  background-color: rgb(6, 163, 6);
  transform: scale(1.1);
}

  
  @media (max-width: 768px) {
    .tittle {
      margin-top: 110px;
      width: 350px;
  }
  
    .home {
      text-align: center;
      color: var(--blk);
      font-size: 35px;
      margin-bottom: 20px;
      margin-left: auto;
    }
    .search-container {
      display: flex;
      align-items: center;
      position: relative;
    }
  
    #search-bar {
      width: 0;
      padding: 0;
      border: none;
      background-color: transparent;
      transition: width 0.7s ease, padding 0.3s ease;
      color: #000;
      font-size: 16px;
      border-bottom: 2px solid #000;
      outline: none;
    }
  
    .icon-search {
      cursor: pointer;
      font-size: 20px;
      margin-left: 10px;
      color: #000;
    }
  
    /* Expande la barra de búsqueda cuando se pasa el cursor sobre el contenedor */
    .search-container:hover #search-bar {
      width: 200px;
      padding: 5px;
      background-color: transparent;
    }
  
    .table-container {
      max-height: 35vh; /* Ajusta esta altura según tus necesidades */
      overflow-y: auto; /* Scroll vertical en la tabla */
      margin-top: 20px;
      position: relative;
    }
  
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }
  
    th,
    td {
      border: 1px solid var(--blk);
      padding: 8px;
      text-align: left;
    }
  
    th {
      background-color: var(--gold);
      color: var(--blk);
    }
  
    thead {
      background-color: #f2f2f2;
      position: sticky;
      top: 0;
      z-index: 2;
    }
  
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  
    tr:hover {
      background-color: #ddd;
    }
  }
  